In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
from sklearn.tree import DecisionTreeClassifier

In [3]:
from sklearn.metrics import accuracy_score

In [4]:
from sklearn.compose import ColumnTransformer

In [5]:
import matplotlib.pyplot as plt

In [6]:
from sklearn.model_selection import cross_val_score

In [9]:
from sklearn.preprocessing import KBinsDiscretizer

In [12]:
df = pd.read_csv(r'C:\Users\r.vardhan.reddy\Desktop\Data\titanic.csv',usecols=['Age','Fare','Survived'])
df.sample(5)

     Survived   Age     Fare
640         0  20.0   7.8542
645         1  48.0  76.7292
16          0   2.0  29.1250
14          0  14.0   7.8542
353         0  25.0  17.8000

In [13]:
df.isnull().sum()

Survived      0
Age         177
Fare          0
dtype: int64

In [14]:
df.shape

(891, 3)

In [15]:
df.describe()

         Survived         Age        Fare
count  891.000000  714.000000  891.000000
mean     0.383838   29.699118   32.204208
std      0.486592   14.526497   49.693429
min      0.000000    0.420000    0.000000
25%      0.000000   20.125000    7.910400
50%      0.000000   28.000000   14.454200
75%      1.000000   38.000000   31.000000
max      1.000000   80.000000  512.329200

In [16]:
df.dropna(inplace=True)

In [17]:
df.shape

(714, 3)

In [33]:
x=df.iloc[:,1:3]
y=df.iloc[:,0]

In [34]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=42)

In [35]:
x_train.shape

(499, 2)

In [39]:
y_train.shape

(499,)

In [37]:
dt = DecisionTreeClassifier()

In [38]:
dt.fit(x_train,y_train)

DecisionTreeClassifier()

In [40]:
dt.score(x_test,y_test)

0.627906976744186

In [41]:
cross_val_score(dt,x,y,cv=10,scoring='accuracy')

array([0.61111111, 0.59722222, 0.63888889, 0.65277778, 0.5915493 ,
       0.73239437, 0.73239437, 0.63380282, 0.5915493 , 0.6056338 ])

In [42]:
np.mean(cross_val_score(dt,x,y,cv=10,scoring='accuracy'))

0.6316901408450704

In [73]:
kbin_age = KBinsDiscretizer(n_bins=15,encode='ordinal',strategy='quantile')
kbin_fare = KBinsDiscretizer(n_bins=15,encode='ordinal',strategy='quantile')

In [74]:
ctr1 = ColumnTransformer(
    [
    ('age',kbin_age,[0]),
    ('fare',kbin_fare,['Fare'])
    ]
    
)

In [75]:
x_train_ctr1 = ctr1.fit_transform(x_train)

In [76]:
x_test_ctr1 = ctr1.transform(x_test)

In [77]:
ctr1.named_transformers_

{'age': KBinsDiscretizer(encode='ordinal', n_bins=15),
 'fare': KBinsDiscretizer(encode='ordinal', n_bins=15)}

In [78]:
ctr1.named_transformers_['age']

KBinsDiscretizer(encode='ordinal', n_bins=15)

In [79]:
ctr1.named_transformers_['age'].n_bins_

array([15])

In [80]:
ctr1.named_transformers_['age'].bin_edges_

array([array([ 0.67,  6.2 , 16.  , 19.  , 21.  , 24.  , 25.  , 28.  , 30.  ,
       32.  , 35.  , 39.  , 42.  , 47.6 , 54.  , 80.  ])], dtype=object)

In [81]:
#x_test_ctr1[:,0]

In [82]:
#x_train_ctr1

In [83]:
output = pd.DataFrame({'age':x_train['Age'],'age_trf1':x_train_ctr1[:,0],'Fare':x_train['Fare'],'Fare_trf1':x_train_ctr1[:,1]})

In [84]:
output.sample(5)

      age  age_trf1     Fare  Fare_trf1
862  48.0      13.0  25.9292        8.0
710  24.0       5.0  49.5042       11.0
127  24.0       5.0   7.1417        0.0
188  40.0      11.0  15.5000        7.0
395  22.0       4.0   7.7958        2.0

In [85]:
dt.fit(x_train_ctr1,y_train)

DecisionTreeClassifier()

In [86]:
dt.score(x_test_ctr1,y_test)

0.6186046511627907

In [ ]:
#binarizer()