In [1]:
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score,confusion_matrix,roc_auc_score,roc_curve
import numpy as np
import pandas as pd

In [11]:
df=pd.read_csv(r'C:\Users\r.vardhan.reddy\Desktop\Algorithms\diabetes.csv')
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [12]:
x=df.drop(columns='Outcome')

In [13]:
y=df['Outcome']

In [14]:
scaler = StandardScaler()

In [15]:
x_scaled = scaler.fit_transform(x)

In [98]:
x_train,x_test,y_train,y_test=train_test_split(x_scaled,y,test_size=.30,random_state=30)

In [99]:
from sklearn.naive_bayes import GaussianNB

In [100]:
naive_bayes = GaussianNB()

In [101]:
naive_bayes.fit(x_train,y_train)

GaussianNB()

In [102]:
naive_bayes.score(x_test,y_test)

0.7662337662337663

In [105]:
naive_bayes.score(x_train,y_train)

0.7579143389199255

## Implement Optuna , GridsearchCV ,Randomsearchcv to improve accuracy
## explore differeence b/w baseNB,bernoulisNB,categoricalNB,gaussianNB
## solve the same with multiple NB and then choose by using roc_auc

In [159]:
df =pd.read_csv(r'C:\Users\r.vardhan.reddy\Desktop\Algorithms\winequality-red.csv')

In [160]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [161]:
df.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [162]:
x=df.drop(columns='quality')

In [163]:
scale = StandardScaler()

In [164]:
x_scaled = scale.fit_transform(x)

In [165]:
x.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol'],
      dtype='object')

In [166]:
x_scaled[0]

array([-0.52835961,  0.96187667, -1.39147228, -0.45321841, -0.24370669,
       -0.46619252, -0.37913269,  0.55827446,  1.28864292, -0.57920652,
       -0.96024611])

In [169]:
## standardization std = 1 mean = 0

In [170]:
standardized = pd.DataFrame(x_scaled,columns = x.columns)

In [171]:
standardized.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
count,1.599000e+03,1.599000e+03,1.599000e+03,1.599000e+03,1.599000e+03,1.599000e+03,1.599000e+03,1.599000e+03,1.599000e+03,1.599000e+03,1.599000e+03
mean,3.435512e-16,1.699704e-16,4.335355e-16,-1.905223e-16,4.838739e-16,1.432042e-16,1.289532e-16,-3.482795e-14,3.002879e-15,7.639596e-16,9.437243e-16
std,1.000313e+00,1.000313e+00,1.000313e+00,1.000313e+00,1.000313e+00,1.000313e+00,1.000313e+00,1.000313e+00,1.000313e+00,1.000313e+00,1.000313e+00
min,-2.137045e+00,-2.278280e+00,-1.391472e+00,-1.162696e+00,-1.603945e+00,-1.422500e+00,-1.230584e+00,-3.538731e+00,-3.700401e+00,-1.936507e+00,-1.898919e+00
25%,-7.007187e-01,-7.699311e-01,-9.293181e-01,-4.532184e-01,-3.712290e-01,-8.487156e-01,-7.440403e-01,-6.077557e-01,-6.551405e-01,-6.382196e-01,-8.663789e-01
50%,-2.410944e-01,-4.368911e-02,-5.636026e-02,-2.403750e-01,-1.799455e-01,-1.793002e-01,-2.574968e-01,1.760083e-03,-7.212705e-03,-2.251281e-01,-2.093081e-01
75%,5.057952e-01,6.266881e-01,7.652471e-01,4.341614e-02,5.384542e-02,4.901152e-01,4.723184e-01,5.768249e-01,5.759223e-01,4.240158e-01,6.354971e-01
max,4.355149e+00,5.877976e+00,3.743574e+00,9.195681e+00,1.112703e+01,5.367284e+00,7.375154e+00,3.680055e+00,4.528282e+00,7.918677e+00,4.202453e+00

In [122]:
y=df.quality

In [123]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=.30,random_state=30)

In [124]:
from sklearn.svm import SVC

In [125]:
model=SVC()

In [126]:
model.fit(x_train,y_train)

SVC()

In [127]:
model.score(x_train,y_train)

0.4959785522788204

In [129]:
model.score(x_test,y_test)

0.53125

In [132]:
y_pred = model.predict(x_test)

In [133]:
confusion_matrix(y_test,y_pred)

array([[  0,   0,   1,   2,   0,   0],
       [  0,   0,   6,  17,   0,   0],
       [  0,   0, 108,  95,   0,   0],
       [  0,   0,  41, 146,   0,   0],
       [  0,   0,   7,  52,   1,   0],
       [  0,   0,   2,   2,   0,   0]], dtype=int64)

In [134]:
df = pd.read_csv(r'C:\Users\r.vardhan.reddy\Desktop\Algorithms\Admission_Predict.csv')

In [135]:
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [136]:
df.isnull().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

In [141]:
x=df.drop(columns='Chance of Admit ')

In [144]:
y=df['Chance of Admit ' ]

In [145]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=.30,random_state=30)

In [146]:
from sklearn.svm import SVR

In [147]:
svm=SVR()

In [148]:
svm.fit(x_train,y_train)

SVR()

In [149]:
svm.score(x_train,y_train)

0.6204488955497618

In [150]:
svm.score(x_test,y_test)

0.6313769208156488