In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
from sklearn.tree import DecisionTreeClassifier

In [3]:
from sklearn.metrics import accuracy_score

In [4]:
from sklearn.compose import ColumnTransformer

In [5]:
import matplotlib.pyplot as plt

In [6]:
from sklearn.model_selection import cross_val_score

In [9]:
from sklearn.preprocessing import KBinsDiscretizer

In [12]:
df = pd.read_csv(r'C:\Users\r.vardhan.reddy\Desktop\Data\titanic.csv',usecols=['Age','Fare','Survived'])
df.sample(5)

     Survived   Age     Fare
640         0  20.0   7.8542
645         1  48.0  76.7292
16          0   2.0  29.1250
14          0  14.0   7.8542
353         0  25.0  17.8000