In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [13]:
df = pd.read_csv(r'C:\Users\r.vardhan.reddy\Desktop\Data\loan_data_train.csv')

In [14]:
df.head()

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,79542.0,25000,25000,18.49%,60 months,debt_consolidation,27.56%,VA,MORTGAGE,8606.56,720-724,11,15210,3.0,5 years
1,75473.0,19750,19750,17.27%,60 months,debt_consolidation,13.39%,NY,MORTGAGE,6737.50,710-714,14,19070,3.0,4 years
2,67265.0,2100,2100,14.33%,36 months,major_purchase,3.50%,LA,OWN,1000.00,690-694,13,893,1.0,< 1 year
3,80167.0,28000,28000,16.29%,36 months,credit_card,19.62%,NV,MORTGAGE,7083.33,710-714,12,38194,1.0,10+ years
4,17240.0,24250,17431.82,12.23%,60 months,credit_card,23.79%,OH,MORTGAGE,5833.33,730-734,6,31061,2.0,10+ years

In [15]:
df.isnull().sum()

ID                                 1
Amount.Requested                   1
Amount.Funded.By.Investors         1
Interest.Rate                      0
Loan.Length                        1
Loan.Purpose                       1
Debt.To.Income.Ratio               1
State                              1
Home.Ownership                     1
Monthly.Income                     3
FICO.Range                         0
Open.CREDIT.Lines                  4
Revolving.CREDIT.Balance           3
Inquiries.in.the.Last.6.Months     3
Employment.Length                 69
dtype: int64

In [19]:
df[df['Home.Ownership'].isnull() == True]

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
1021,100424.0,8000,8000,16.29%,36 months,credit_card,29.19%,IL,NaN,6916.67,685-689,14,21498,2.0,4 years

In [28]:
df['Home.Ownership'] = df['Home.Ownership'].fillna(' Missing')

In [31]:
df[df['ID'] == 100424.0]

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
1021,100424.0,8000,8000,16.29%,36 months,credit_card,29.19%,IL,Missing,6916.67,685-689,14,21498,2.0,4 years

In [43]:
new = np.where(df['Loan.Purpose']== np.nan , 'Missing' ,df['Loan.Purpose'])

In [50]:
series = pd.Series(new)

In [56]:
series[729]

nan

In [39]:
df[df['Loan.Purpose'].isnull() == True]

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
729,76348.0,10000,10000,14.09%,36 months,NaN,26.44%,WA,MORTGAGE,5416.67,700-704,6,18652,1.0,6 years

In [57]:
df['Loan.Purpose'] = df['Loan.Purpose'].fillna(' Missing')

In [58]:
df[df['Loan.Purpose'].isnull() == True]

Empty DataFrame
Columns: [ID, Amount.Requested, Amount.Funded.By.Investors, Interest.Rate, Loan.Length, Loan.Purpose, Debt.To.Income.Ratio, State, Home.Ownership, Monthly.Income, FICO.Range, Open.CREDIT.Lines, Revolving.CREDIT.Balance, Inquiries.in.the.Last.6.Months, Employment.Length]
Index: []