In [1]:
import pandas as pd
import numpy as np

In [9]:
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv(r'C:\Users\r.vardhan.reddy\Desktop\Data\titanic.csv',usecols = ['Age','Fare','Survived'])
df.head()

   Survived   Age     Fare
0         0  22.0   7.2500
1         1  38.0  71.2833
2         1  26.0   7.9250
3         1  35.0  53.1000
4         0  35.0   8.0500

In [4]:
df['Age'].isnull().sum()

177

In [23]:
df.shape

(891, 3)

In [6]:
df.isnull().mean()

Survived    0.000000
Age         0.198653
Fare        0.000000
dtype: float64

In [7]:
df.isnull().mean()*100

Survived     0.00000
Age         19.86532
Fare         0.00000
dtype: float64

In [10]:
x=df.drop(columns=['Survived'])

In [12]:
y=df['Survived']

In [14]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size =0.2,random_state = 2)

In [24]:
x_train.shape

(712, 3)

In [15]:
x_train['Age_imputed']=x_train['Age']
x_test['Age_imputed']=x_test['Age']

<ipython-input-15-1c60fcd91544>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_train['Age_imputed']=x_train['Age']
<ipython-input-15-1c60fcd91544>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_test['Age_imputed']=x_test['Age']

In [18]:
x_train.tail()

      Age      Fare  Age_imputed
534  30.0    8.6625         30.0
584   NaN    8.7125          NaN
493  71.0   49.5042         71.0
527   NaN  221.7792          NaN
168   NaN   25.9250          NaN

In [21]:
x_train[x_train['Age_imputed'].isnull()]['Age_imputed']

77    NaN
868   NaN
334   NaN
295   NaN
792   NaN
       ..
674   NaN
466   NaN
584   NaN
527   NaN
168   NaN
Name: Age_imputed, Length: 148, dtype: float64

In [22]:
x_train['Age_imputed'].dropna().sample

30     40.0
10      4.0
873    47.0
182     9.0
876    20.0
       ...
360    40.0
75     25.0
299    50.0
534    30.0
493    71.0
Name: Age_imputed, Length: 564, dtype: float64

In [28]:
x_train['Age_imputed'].dropna().sample(x_train['Age_imputed'].isnull().sum()).values

array([18.  , 56.  ,  9.  , 18.  , 57.  , 28.  , 38.  , 32.  , 21.  ,
       14.  , 35.  , 27.  , 26.  , 32.  , 24.  , 32.  , 25.  , 26.  ,
       24.  , 22.  , 18.  , 44.  , 20.  , 50.  , 36.  , 44.  , 20.  ,
       39.  , 32.5 , 28.  , 40.  , 21.  ,  0.75, 32.  , 21.  , 21.  ,
       35.  , 34.  , 14.  , 22.  , 30.  , 26.  , 70.  ,  1.  , 33.  ,
       21.  , 16.  , 34.  , 34.  , 19.  , 25.  , 22.  ,  9.  , 23.  ,
       10.  , 19.  , 26.  , 60.  , 24.  , 47.  , 23.  , 36.  , 47.  ,
       20.  , 29.  ,  4.  , 16.  ,  8.  , 16.  ,  6.  , 46.  , 23.  ,
       22.  , 32.  , 54.  , 17.  , 15.  , 22.  , 17.  , 49.  , 48.  ,
       39.  , 23.  , 32.  , 48.  , 20.  , 42.  , 22.  , 30.  , 29.  ,
        3.  , 29.  , 27.  , 18.  ,  5.  , 23.  , 17.  , 28.  , 42.  ,
       25.  , 24.  , 54.  , 29.  , 30.  , 11.  , 15.  , 21.  , 30.  ,
       15.  , 32.  , 34.  , 42.  , 30.  , 30.  , 21.  ,  4.  , 24.  ,
       30.  , 16.  , 29.  , 36.  , 22.  , 24.  , 33.  , 35.  , 57.  ,
       41.  , 26.  , 18.  ,  3.  , 39.  , 39.  , 40.5 , 19.  , 19.  ,
       27.  ,  4.  , 45.  , 19.  , 21.  , 24.  , 41.  , 19.  , 25.  ,
       20.  , 54.  , 33.  , 47.  ])

In [26]:
x_train['Age_imputed'].isnull().sum()

148

In [29]:
x_train[x_train['Age_imputed'].isnull()]['Age_imputed'] = x_train['Age_imputed'].dropna().sample(x_train['Age_imputed'].isnull().sum()).values

<ipython-input-29-df65e1399be5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_train[x_train['Age_imputed'].isnull()]['Age_imputed'] = x_train['Age_imputed'].dropna().sample(x_train['Age_imputed'].isnull().sum()).values

In [30]:
x_train['Age_imputed'].isnull().sum()

148

In [31]:
x_train['Age_imputed'].tail()

534    30.0
584     NaN
493    71.0
527     NaN
168     NaN
Name: Age_imputed, dtype: float64

In [32]:
x_train[x_train['Age_imputed'].isnull()]['Age_imputed']

77    NaN
868   NaN
334   NaN
295   NaN
792   NaN
       ..
674   NaN
466   NaN
584   NaN
527   NaN
168   NaN
Name: Age_imputed, Length: 148, dtype: float64

In [ ]:
x_train['Age_imputed'][x_train['Age_imputed'].isnull()