In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv(r'C:\Users\r.vardhan.reddy\Desktop\Data\titanic.csv',usecols = ['Cabin','Ticket','Survived'])
df.sample(6)

     Survived             Ticket Cabin
361         0      SC/PARIS 2167   NaN
235         0         W./C. 6609   NaN
287         0             349206   NaN
656         0             349223   NaN
848         0             248727   NaN
115         0  STON/O 2. 3101294   NaN

In [5]:
df1 = df.head(10)

In [12]:
lst1 = [1,2,3,4,'A','B','F','G','R',7]
ser = pd.Series(list)

In [14]:
df1['num']=lst1

<ipython-input-14-894174e19851>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['num']=lst1

In [15]:
df1

   Survived            Ticket Cabin num
0         0         A/5 21171   NaN   1
1         1          PC 17599   C85   2
2         1  STON/O2. 3101282   NaN   3
3         1            113803  C123   4
4         0            373450   NaN   A
5         0            330877   NaN   B
6         0             17463   E46   F
7         0            349909   NaN   G
8         1            347742   NaN   R
9         1            237736   NaN   7

In [23]:
df1['number_numerical'] = pd.to_numeric(df1['num'],errors='coerce',downcast='integer')

<ipython-input-23-68e4ae0ffe94>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['number_numerical'] = pd.to_numeric(df1['num'],errors='coerce',downcast='integer')

In [26]:
df1['num_categorcal']=np.where(df1['number_numerical'].isnull(),df1['num'],np.nan)

<ipython-input-26-b593fb47973a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['num_categorcal']=np.where(df1['number_numerical'].isnull(),df1['num'],np.nan)

In [27]:
df1

   Survived            Ticket Cabin num  number_numerical num_categorcal
0         0         A/5 21171   NaN   1               1.0            NaN
1         1          PC 17599   C85   2               2.0            NaN
2         1  STON/O2. 3101282   NaN   3               3.0            NaN
3         1            113803  C123   4               4.0            NaN
4         0            373450   NaN   A               NaN              A
5         0            330877   NaN   B               NaN              B
6         0             17463   E46   F               NaN              F
7         0            349909   NaN   G               NaN              G
8         1            347742   NaN   R               NaN              R
9         1            237736   NaN   7               7.0            NaN

In [31]:
df1['Cabin'].unique()

array([nan, 'C85', 'C123', 'E46'], dtype=object)

In [32]:
df1['Cabin_num'] = df1['Cabin'].str.extract('(\d+)')

<ipython-input-32-46bcf96f908a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Cabin_num'] = df1['Cabin'].str.extract('(\d+)')

In [33]:
df1['cabin_categorical']=df['Cabin'].str[0]

<ipython-input-33-6d7f11994edd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['cabin_categorical']=df['Cabin'].str[0]